/* .text-info-div {
  background: yellow;
}
h1 {
  font-size: 2px;
  flex-direction: row;
  color: red;
}
p {
  text-align: center;
}
button {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */
